{% extends "base.html" %} {% block content %}

<div>
    <div class="mb-4 flex">
        <c-lb.text class="font-bold" as="h1" size="3xl" variant="primary">Your projects</c-lb.text>
        <c-lb.button as="a" href="{% url 'projects.create' %}" variant="primary" class="ml-auto"
            >New project</c-lb.button
        >
    </div>
    <div class="grid h-full md:grid-cols-2 lg:grid-cols-3 w-full">
        {% if not projects %}
        <c-lb.card class="card-border bg-base-100 shadow-sm w-full max-w-96 mx-2 my-2">
            <c-lb.card.body class="mb-auto">
                <c-lb.card.title>Create a new project</c-lb.card.title>
                <p>You do not have any projects right now. Create a new one and get started!</p>
                <c-lb.card.actions justify="end">
                    <c-lb.button as="a" href="{% url 'projects.create' %}" variant="primary" class="ml-auto"
                        >Get started</c-lb.button
                    >
                </c-lb.card.actions>
            </c-lb.card.body>
        </c-lb.card>
        {% endif %} {% for project in projects %}
        <div class="mx-2">
            <c-lb.card class="card-border bg-base-100 shadow-sm w-full max-w-96 mx-2 my-2 h-full">
                <c-lb.card.body>
                    <c-lb.card.title>{{ project.name }}</c-lb.card.title>
                    <p>{{ project.description|linebreaks }}</p>
                    <div><c-lb.status variant="success" /> <span>Online 5 seconds ago</span></div>
                    <c-lb.card.actions justify="end">
                        <c-lb.button variant="primary">Manage</c-lb.button>
                    </c-lb.card.actions>
                </c-lb.card.body>
            </c-lb.card>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
